@model IEnumerable<ArticleApp.Models.Article>

@{
    ViewData["Title"] = "Articles";
}
<a asp-action="Index" asp-route-orderBy="views">Order by Views</a> |
<a asp-action="Index" asp-route-orderBy="date">Order by Date</a>

<h1>Articles</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
               <a asp-action="Details" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.Title)</a> 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
        </tr>
}
    </tbody>
</table>
